.order {
  margin-bottom: 40px;
}

.order__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cart__clear {
  display: flex;
  align-items: center;
}

.list__wrapper {
  max-height: 60vh;
  background: #fff;
  box-shadow: 0 0.31em 3.43em rgba(0, 0, 0, 0.05);
  border-radius: 0.68em;
  padding: 1.87em 1.87em 2.75em 1.87em;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.list__title {
  font-size: 1.12em;
  line-height: 1.38em;
  margin-bottom: 0.97em;
  font-weight: 600;
}

.list__price {
  display: flex;
  justify-content: space-between;
}

.clear__cart{
  cursor: pointer;
}

.btn--cart {
  padding: 10px;
  border-radius: 1000em;
  min-width: 3em;
  text-align: center;
}

.btn_back {
  padding: 10px;
}

.btn--cart:hover {
  background: #f96900;
  color: #fff;
}

.tocart {
  margin-right: 20px;
  color: #73798c;
  background-color: #ccc;
}

.confirm {
  background-color: #f96900;
  color: #ffffff;
  border: none;
}

.list__pricetext {
  line-height: 1.37em;
  font-weight: 400;
}

.list__sum {
  font-weight: 600;
  line-height: 1.37em;
}

.list__items {
  overflow-y: scroll;
}

.item-str {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-wrap {
  padding-top: 0.78em;
  padding-bottom: 0.78em;
}

.item__id {
  font-weight: 600;
  line-height: 1.37em;
}

.item__price {
  line-height: 1.37em;
}

.item__count {
  font-size: 0.75em;
  line-height: 1.16em;
  color: #ccc;
}

@media (max-width: 1024px) {
  .order__wrapper {
    justify-content: center;
  }

  .order__form {
    margin-bottom: 40px;
  }
}
