body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(4, 239px);
  grid-auto-flow: row;
  grid-gap: 60px 20px;
  margin: 40px 0 70px;
}

.none{
  display: none;
}

.grid__elem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid__elem img {
  transition: transform 0.2s ease-out;
  margin: 0 auto;
}

.grid__elem img:hover {
  transform: translateY(0.1875em);
}

.grid__elem h3 {
  margin: 5px 0 10px;
  font: 500 20px/27px var(--font-text);
  color: var(--font-text);
}

.grid__elem > p {
  font: 400 14px/19px var(--font-text);
  color: #73798c;
  margin-bottom: 30px;
}

.grid__elem_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

/* adaptive */

@media (max-width: 1024px) {
  .grid__container {
    grid-template-columns: 32% 32% 32%;
  }
}

@media (max-width: 768px) {
  .grid__container {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 630px) {
  .grid__container {
    grid-template-columns: 100%;
  }
}
